
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinright {    
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

@keyframes spinleft {
    100% { -webkit-transform: rotate(-360deg); transform:rotate(-60deg); } 
}

@keyframes grow_to_normal_size {
    0%   { -webkit-transform: scale(0,0); transform:scale(0,0); }
    100% { -webkit-transform: scale(1,1); transform:scale(1,1); } 
}