body{
    margin: 0 px;
    background-image: url("zoro2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;    
    text-align: center;
}


@keyframes rotateanimation{
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

.container{
    width: 500px;
    height: 500px;
    background-image: url("kaito.jpg");
    background-repeat: no-repeat;
    animation-name: rotateanimation;
    animation-iteration-count: infinite;
    animation-duration: 500s;
    margin-top: 75px;
    margin-left: 400px;
}
.question{    
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    padding-top: 30px;      
}
.answer1{    
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;        
}
.answer2{    
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;            
}
.answer3{    
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;            
}
.answer4{    
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;            
}
.submit{   
    padding-top: 30px;            
}